<form [formGroup]='forgotPasswordForm' (ngSubmit)='sendResetPasswordMail()'>
    <div class="card">

        <div class="card-header">
            <h2>Reset Forgot Password</h2>
        </div>

        <div class="card-body">

            <div class="form-group">
                <label class="control-label col-md-12">Email</label>
                <div class="col-md-6">
                    <input type="text" class="form-control" formControlName="sEmail"
                        placeholder="Enter Your Email Address">
                    <ng-container *ngIf="isFormSubmitted && fpf.sEmail.errors">
                        <span class="text-danger" *ngIf="fpf.sEmail.errors?.required">
                            Email Address required!
                        </span>
                        <span class="text-danger" *ngIf="fpf.sEmail.errors?.pattern">
                            Invalid Email Address
                        </span>
                    </ng-container>
                </div>
            </div>
        </div>

        <div class="card-footer">
            <button type="submit" class="btn btn-primary">Send Email</button>
            <p>Or <button class="btn btn-link" routerLink='/login'> Sign in </button> Instead!</p>
        </div>
    </div>
</form>